.present {
    position: absolute;
    top: 5px;
    right: 15px;
}
.display {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
            }
/*room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1room1*/
#btwrap {
    position: fixed;
    left: 2px;
    top: 2px;
}

#wrap {
  position: relative;
  margin-top: 30%;
  margin-left: 40%;
}
#wrap2 {
    position: relative;
    margin-top: 30%;
    margin-left: 20%;
}
#wrap3 {
    position: relative;
    margin-top: 50%;
    margin-left: 60%;
}
#wrapall {
    position: absolute;
    top: 60%;
    left: 30%;
}

.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam-one {
  -webkit-animation: steam-one 4s ease-out infinite;
  animation: steam-one 4s ease-out infinite;
}

#steam-three {
  -webkit-animation: steam-one 4s ease-out 1s infinite;
  animation: steam-one 4s ease-out 1s infinite;
}

@-webkit-keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam-one {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam-two {
  -webkit-animation: steam-two 4s ease-out 0.5s infinite;
  animation: steam-two 4s ease-out 0.5s infinite;
}

#steam-four {
  -webkit-animation: steam-two 4s ease-out 1.5s infinite;
  animation: steam-two 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam-two {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#fffish {
    visibility: hidden;

}

#fffu {
    visibility: hidden;
    

}

#ffdumpling {
    visibility: hidden;

}

#ffcalendar {
    visibility: hidden;

}

#fu {
   position: fixed;
    transform-origin: 50% center;
   animation-name: rotating;
   animation-duration: 3s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}
#fu:hover {
    animation-play-state: running;
    cursor: pointer;
}
@-webkit-keyframes rotating{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}

#calendar:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#fish:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#dumplings:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@-webkit-keyframes hscale{
    0% {transform: scale(1,1)}
    50% {transform: scale(1.2,1.2)}
    100% {transform: scale(1,1)}
}

/*room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2room2*/
#ffclock {
    visibility: hidden;
}

#fftv {
    visibility: hidden;
}

#ffmoney {
    visibility: hidden;
}

#ffanimal {
    visibility: hidden;
}

#luckymopen {
    visibility: hidden;
}

#luckym:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#clock:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#painting:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#second {
    position: absolute;
    -webkit-transform-origin: bottom;
}
#minute {
    position: absolute;
    -webkit-transform-origin: bottom;
}
#hour {
    position: absolute;
    -webkit-transform-origin: bottom;
}

#orangebonus {
    visibility: hidden;
}

#tv:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

#orange1:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#orange2:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
#orange3:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
#orange4:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
#orangepeal:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

/*room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3room3*/
#ffny {
    visibility: hidden;
}

#fffireworks {
    visibility: hidden;
}

#cat7 {
    visibility: hidden;
}

#firework1 {
    visibility: hidden;
}

#firework2 {
    visibility: hidden;
}

#cat6:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
#cat5:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#fireworks:hover {
    cursor: pointer;
    animation-name: hscale;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

/*fireworks effects*/
@keyframes fireworkone {
  0%   { opacity: 0;}
  25%  { opacity: .15;}
  50%  { opacity: .3;}
  75%  { opacity: .15;}
  100% { opacity: 0;} 
}
@keyframes fireworktwo {
  0%   { opacity: 0;}
  25%  { opacity: .45;}
  50%  { opacity: .8;}
  75%  { opacity: .45;}
  100% { opacity: 0;} 
}
@keyframes fireworthree {
  0%   { opacity: 0;}
  25%  { opacity: .55;}
  50%  { opacity: 1;}
  75%  { opacity: .55;}
  100% { opacity: 0;} 
}

#r1, #r2, #r3 {
  opacity: 0;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

#r21, #r22, #r33 {
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

#r3 {
  animation-name: fireworthree;
  animation-delay: .11s; }

#r33 {
  animation-name: fireworthree;
  animation-delay: .15s; }

#r2 {
  animation-name: fireworktwo;
  animation-delay: .41s; }

#r22 {
  animation-name: fireworktwo;
  animation-delay: .30s; }

#r1 {
  animation-name: fireworkone;
  animation-delay: .71s;}

#r21 {
  animation-name: fireworkone;
  animation-delay: .50s;}

@keyframes elastic-pulse {
  0%   { transform: scale(0.2);}
  100% { transform: scale(1);} 
  
}

#firework1, #firework2 {
  -webkit-transform-origin: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: elastic-pulse;
  animation-delay: 0s;
}